# This file contains Content Security Policy (CSP) directives to test Wagtail's compatibility with CSP.
# If the variables defined here are loaded into the environment, CSP will be enabled.

# These values are commented out by default because Wagtail is not (yet) compatible with
# the strict policy defined below.

# Careful about the quoting of directives! It is easy to break.
# CSP_DEFAULT_SRC="'self'"
# CSP_SCRIPT_SRC="'self', 'report-sample'"
# CSP_STYLE_SRC="'self', 'report-sample'"
# CSP_IMG_SRC="'self', blob:, i.ytimg.com, www.gravatar.com"
# CSP_CONNECT_SRC="'self', releases.wagtail.org"
# CSP_FRAME_SRC="'self', www.youtube.com"
# AWS RDS
# RDS_DB_NAME=database-1
# RDS_USERNAME=admin
# RDS_PASSWORD=password
# RDS_HOSTNAME=database
# RDS_PORT=5432

# (Optional) AWS SDK creds
# AWS_ACCESS_KEY_ID=keyid
# AWS_SECRET_ACCESS_KEY=accesskey
# AWS_DEFAULT_REGION=ap-southeast-2
